In [119]:
import json
import pandas as pd


with open(r"E:\WORK\signalmedia-1m.jsonl\sample-1M.jsonl",'r+',encoding="utf8") as f:
    list1 = list(f)
for i in list1:
    result = json.loads(i)

In [120]:
import ast
for i in range(0,len(list1)):
    list1[i] = ast.literal_eval(list1[i])

In [121]:
for x in range(0,len(list1)):
    list1[x]['content'] = list1[x]['content'].replace("\\","")
    list1[x]['content'] = list1[x]['content'].replace("\n","")

In [135]:
import pandas as pd 
cols = ['id', 'content', 'title', 'media-type', 'source', 'published']
df = pd.DataFrame(data = list1,columns = cols,index = range(0,len(list1)))

In [136]:
df.head()

,id,content,title,media-type,source,published
0,f7ca322d-c3e8-40d2-841f-9d7250ac72ca,VETERANS saluted Worcester's first ever breakf...,Worcester breakfast club for veterans gives hu...,News,Redditch Advertiser,2015-09-07T10:16:14Z
1,609772bc-0672-4db5-8516-4c025cfd54ca,New Product Gives Marketers Access to Real Key...,Jumpshot Gives Marketers Renewed Visibility In...,News,Virtualization Conference & Expo,2015-09-17T15:00:00Z
2,1aa9d1b0-e6ba-4a48-ad0c-66552d896aac,Home »\rStyle » The Return Of The Nike Air Max...,The Return Of The Nike Air Max Sensation Has 8...,Blog,Streets Connect,2015-09-22T22:54:37Z
3,719699f9-47be-4bc7-969b-b53a881c95ae,NYMag.com Daily Intelligencer Vulture The Cut ...,This New Dating App Will Ruin Your Internet Game,Blog,The Cut,2015-09-16T23:12:11Z
4,a080f99a-07d9-47d1-8244-26a540017b7a,"KUALA LUMPUR, Sept 15 (MySinchew) -- The Kuala...",Pay up or face legal action: DBKL,News,My Sinchew,2015-09-15T10:17:53Z